In [9]:
import pandas as pd

##### create DF

In [ ]:
data = {
    "name": ["ehsan","ali","amir"],
    "age": [19,19,None]
}
DF = pd.DataFrame(data)
# print(DF)
# print(DF.name)
# print(DF["name"])
# print(DF.age)
# print(DF["age"])

# var
# a = DF["name"]
# print(a)
# b = DF["age"]
# import numpy as np
# print(b.mean())

# main
# DF.head()
# print(DF.loc[0])
# print(DF.iloc[:2,:2])

# drop empty
# DF.dropna()
# DF.rename(columns={"name":"firstname"})

# add to empty
# DF.fillna(value=20,inplace=True)
# DF

##### read file

In [ ]:
# csv = pd.read_csv("test2.csv")
# xlsx = pd.read_excel("test.xlsx")

##### inspection

In [ ]:
# print(DF)
# DF.head() # ziba mikonad
# DF.head(1) # ziba mikonad meghdar ra az aval neshan midahad
# DF.tail(1) # baraks head az akhar
# DF.describe() # important data az DF or file
# DF.info()

##### array pandas

In [ ]:
# test = pd.Series([1,"2",3],["a","b","c"])
# print(test)
# print(test["c"])
# print(type(test[0]))
# print(type(test[1]))

##### grouping

In [ ]:
data1 = {
    "class":["a","b","a","b"],
    "number":[10,13,12,10]
}

DF1 = pd.DataFrame(data1)
group = DF1.groupby("class")
num = group["number"].sum()
num.head()

##### sort and filter

In [ ]:
# a = DF[DF["age"] > 10]
# a.head()

# b = DF1.sort_values(by="number")
# b = DF1.sort_values(by="number")[::-1]
# print(b)

##### create culmons

In [ ]:
DF["num"] = [18,19,20]
DF["Nnum"] = DF["num"] + 1
# DF.head()

# use function
def fnum(x):
    if(x > 20):
        return 20
    return x

DF["Nnum"] = DF["Nnum"].apply(fnum)
DF.head()

##### merge

In [ ]:
data2 = pd.DataFrame({
    "name":["amir","reza","mahdi"],
    # "class":["a","b","c"]
})
data3 = pd.DataFrame({
    "age":[19,20,23],
    # "class":["a","b","c"]
})


# df3 = pd.merge(data2,data3,on="class")
# df3 = pd.merge(data2,data3)
# df3

# join => bar asas meghdar 2 mored barasi mikonad agar meghdar ha barabar boodand merge mishavad
# DF3 = data2.join(data3) # betartib beh ham michasband
# DF3

# concat
# testmain = pd.concat([data2,data3])
# testmain = pd.concat([data2,data3],axis=1)
# testmain = pd.concat([data2,data3],ignore_index=True)
# testmain